@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  background-color: #000;
}

.hero-section {
  perspective: var(--service-card-width);
}

.hero-statue {
  transform-style: preserve-3d;
}

.buttons > button[disabled] {
  opacity: 0.5;
  transform: scale(1) !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #ff3600;
}

::selection {
  color: black;
  background: #ff3600;
}

@media (max-width: 1023px) {
  .no-mobile-br br {
    display: none;
  }
}

img,
button,
a {
  user-select: none;
}

.orange-word {
  color: #ff3600;
}

.locked,
html.locked.lenis {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #282828;
}

.anim-char {
  font-kerning: none;
}

.loading-bar {
  background: linear-gradient(
    -45deg,
    #ff0000 0%,
    #ff0000 33%,
    #0f0f0f 33.1%,
    #0f0f0f 33.1%,
    #0f0f0f 66%,
    #ff0000 67%,
    #ff0000 91%
  );
  height: 10px;
  background-size: 80px 40px;
  animation: load 1s linear infinite;
}
@keyframes load {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 80px;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
