@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #000;
}

.hero-section {
  perspective: var(--service-card-width);
}

.hero-statue {
  transform-style: preserve-3d;
}

img,
button,
a {
  user-select: none;
}
